.section1 {
  display: flex;
  width: 100%;
}

.pt-serif-font {
  font-family: 'PT Serif', serif;
}

.poppins {
  font-family: 'Poppins', sans-serif;
}

.half-width {
  width: 50%;
  padding-left: 15px;
}

.h1-for-section1 {
  font-size: 50px;
}

.orange-color {
  color: orange;
}

.border-left {
  border-left: 4px solid red;
  padding-left: 10px;
  width: 80%;
}

.link-button {
  text-decoration: none;
  background-color: rgb(250, 49, 49);
  padding: 10px 40px;
  border-radius: 5px;
  color: white;
  font-weight: 700;
}

.half-width {
  padding-left: 50px;
}

.half-width1 {
  width: 60%;
}

.section2 {
  margin: 100px;
}
#section2-h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

.illustrator-image {
  width: 30%;
  padding: 10px;
}
